@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Belanosima', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.295);
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
}

h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.container {
  margin: 0;
  padding: 15px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
  padding: 15px;
}

.burger {
  width: 20px;
}

li {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-right: 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler, .navbar label {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .link-top {
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .link-top {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 22px;
  }
}

/* END HEADER */
/* END HEADER */
/* END HEADER */

/* HOME */
/* HOME */
/* HOME */

.home-container {
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] 1fr [c];
  height: 100vh;
}

.typing {
  z-index: 1;
  color: white;
  grid-row: a / c;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px black;
}

.scroll {
  grid-row: b / c;
  grid-column: a / c;
  justify-self: center;
  align-self: flex-end;
  z-index: 1;
  display: grid;
  justify-items: center;
}

.img-scroll {
  width: 40px;
  margin-bottom: 10px;
}

/* END HOME */
/* END HOME */
/* END HOME */

/* ABOUT */
/* ABOUT */
/* ABOUT */

.about-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-picture {
  width: 30%;
  margin-left: 35%;
}

.text-about {
  color: white;
  padding: 40px;
}

@media screen and (min-width: 700px) {
  .about-container {
    width: 80%;
    margin-left: 10%;
  }

  .bloc-about {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }

  .img-picture {
    align-self: center;
    justify-self: center;
  }

  .text-about {
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 1100px) {
  .bloc-about {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1400px) {
  .img-picture {
    width: 200px;
  }
}

/* SKILL */
/* SKILL */
/* SKILL */

.skill-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill-card {
  width: 50%;
  margin-left: 25%;
  border: 3px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] 1fr [c];
}

.img-skill {
  width: 70%;
  margin-left: 15%;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-row: a / c;
  grid-column: a / c;
}

.title-card {
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  grid-row: a / c;
  grid-column: a / c;
  width: 100%;
  height: 100%;
}

.title-card:hover {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .skill-container {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1000px) {
  .skill-container {
    grid-template-columns: [] 1fr [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1400px) {
  .skill-container {
    grid-template-columns: [] 1fr [] 1fr [] 1fr [] 1fr [];
  }
}

/* PROJECT */
/* PROJECT */
/* PROJECT */

.project-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project {
  width: 80%;
  margin-left: 10%;
  border: 2px solid red;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-project {
  width: 80%;
  margin-left: 10%;
}

.project > h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 40px;
}

.description-project {
  color: white;
  padding: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.link-btn {
  text-transform: uppercase;
  padding: 10px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
}

@media screen and (min-width: 800px) {
  .project-container {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1400px) {
  .project-container {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [] 1fr [];
  }
}

/* END PROJECT */
/* END PROJECT */
/* END PROJECT */

/* BACKGROUND FIXED */
/* BACKGROUND FIXED */
/* BACKGROUND FIXED */

.background-fixed {
  background-image: url(media/papers.co-vd54-abstract-black-geometric-line-pattern-25-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
  position: fixed;
}

/* CV */
/* CV */
/* CV */

.cv-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  justify-items: center;
}

.img-cv {
  padding-top: 20px;
  max-height: 50vh;
}

.download {
  width: 250px;
  padding: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  color: red;
  border: 1px solid red;
  background: none;
}

.download:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: red;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* SCROLL EFFECT */
/* SCROLL EFFECT */
/* SCROLL EFFECT */

/* ALL STYLE */
/* ALL STYLE */
/* ALL STYLE */

.bloc-title {
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] 1fr [c];
  height: 200px;
}

.title-section {
  grid-row: a / c;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  text-shadow: 0 0 15px black;
  padding-left: 230px;
}

.img-title {
  grid-row: a / c;
  grid-column: a / c;
  align-self: center;
  justify-self: center;
  width: 40px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

.typing:hover {
  color: red;
  cursor: pointer;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}